@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Описание</h2>

    <p>
        Необходимо разработать приложение, состоящее из двух компонентов: Frontend и Backend, взаимодействующих по протоколу HTTP.        
    </p>
</div>

