@{
    ViewData["Title"] = "RP";
}

<div>
    <h2>Описание</h2>
    <p>Смотри <a href="https://github.com/chosti34/Distributed-Programming/tree/master/lw4">здесь</a></p>
    <h2>Как работает</h2>
    <p>При отправке данных с Frontend'а происходит переадресация на страницу с анализом обработанных данных</p>
</div>
