@{
    ViewData["Title"] = "RP Upload";
}
<div>
    <h2>Форма ввода</h2>
    <form method="post">
        Введите данные сюда: <input name="data" type="text"/><br /><br />
        <input type="submit" value="Отправить данные через POST-запрос">
    </form>
</div>
