@{
    ViewData["Title"] = "Home";
}

<div>
    <h4>Суть задачи</h4>
    <p>
        <ul>
            <li>Отправка данных происходит с компонента Frontend</li>
            <li>После отправки данных происходит переадресация на страницу с анализом обработанных данных</li>
            <li>Существует несколько компонентов системы, занимающихся подсчётом, обработкой и анализом данных</li>
        </ul>
    </p>
</div>
