@{
    ViewData["Title"] = "Upload Form";
}
<div>
    <h2>Форма ввода</h2>
    <form method="post">
        Текст: <input name="data" type="text"/><br /><br />
        <input type="submit" value="Отправить" />
    </form>
</div>
